<div class="container" id="addNewMainContainer">
  <div class="container">
    <h2 style="text-align: center;">Add new contact</h2>

    <hr>
    <div class="row" id="addNewDetailsContainer">
      <form class="col s12" [formGroup]="newContactFromGroup" (ngSubmit)="createNewContact()">
        <div class="row">
          <div class="input-field col s12">
            <input id="name" type="text" class="validate" placeholder="Contact Name" formControlName="name">
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input id="dateOfBirth" type="date" class="validate" formControlName="dateOfBirth">
            <label for="dateOfBirth">Date of Birth</label>
          </div>
        </div>

        <div class="row">
          <h5>Enter Phone Numbers</h5>
          <div class="row verticalAlign">
            <div class="input-field col s11">
              <input id="dateOfBirth" type="text" class="validate">

            </div>
            <div class="col s1">
              <button class="btn" (click)="addPhoneNumberInput()"><i class="material-icons">add</i></button>
            </div>
          </div>

          <div formArrayName="phoneNumber">
            <div class="row verticalAlign" *ngFor="let number of numberArrays.controls ; let idIndex = index"
              [formGroupName]="idIndex">
              <div class="input-field col s11">
                <input id="dateOfBirth" type="text" class="validate" formControlName="id">

              </div>
              <div class="col s1">
                <button class="btn" (click)="removePhoneNumberInput(idIndex)"><i
                    class="material-icons">delete</i></button>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <h5>Enter Email Addresses</h5>
          <div class="row verticalAlign">
            <div class="input-field col s11">
              <input id="dateOfBirth" type="text" class="validate">

            </div>
            <div class="col s1">
              <button class="btn" (click)="addEmailInput()"><i class="material-icons">add</i></button>
            </div>
          </div>
          <div formArrayName="email">
            <div class="row verticalAlign" *ngFor="let number of emailArray.controls ; let idIndex = index"
            [formGroupName]="idIndex">
              <div class="input-field col s11">
                <input id="dateOfBirth" type="text" class="validate" formControlName="id">

              </div>
              <div class="col s1" (click)="removeEmailInput(idIndex)">
                <button class="btn"><i class="material-icons">delete</i></button>
              </div>
            </div>

          </div>

        </div>



        <div>
          <input type="button" value="Add new contact" class="btn" (click)="createNewContact()">
        </div>
      </form>
    </div>




  </div>
</div>
