.inline{
    display:inline-block;
    flex-direction: row;
    justify-content: space-evenly;
}
.displayFlex{
    display: flex;
    align-items: center;
    padding: 1% 2% 1% 2%;
}
#searchBar{
    border-bottom: none !important;
    text-align: center;
    font-size: 1.5rem;
}
#searchBarContainer{
   

}
#searchContainer{
    border: 1px solid #153357;
    border-radius:10px;
    margin-top:4rem
}
#contactsView{
    margin-top: 1rem;
    padding-left: 4%;
    padding-right:4%;
    
}