<div class="container">

  <div id="searchContainer" class="card">
    <form action="" class="displayFlex">
      <div class="inline" style="flex:1" id="searchBarContainer">
        <input type="text" value="" id="searchBar" placeholder="Search Your Contacts">
      </div>
      <div class="inline">
        <button class="btn ">Search</button>
      </div>
    </form>
  </div>

  <hr>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
  </div>
</div>


<footer style="text-align: center;">
    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
</footer>
