<div class="container">

  <!-- Search Container -->
  <div id="searchContainer" class="card">
    <form action="" class="displayFlex" [formGroup]="searchForm">
      <div class="inline" style="flex:1" id="searchBarContainer">
        <input type="text" value="" id="searchBar" placeholder="Search Your Contacts">
      </div>
      <div class="inline">
        <button class="btn ">Search</button>
      </div>
    </form>
  </div>

  <!-- Line break between the search container and the contactsView -->
  <hr style="margin-top:4rem">

  <div id="contactsView" >
   <app-phone-record *ngFor="let i of contacts" [ContactModel]=i></app-phone-record>
  </div>


  <!-- Floating action button -->
  
</div>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" [routerLink]="['addNewContact']">
    <i class="large material-icons">add</i>
  </a>
</div>

<!-- Pagenated Footer -->
<footer style="text-align: center;">
    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
</footer>
